policy_module(app1, 1.0)

require {
    type lib_t;
    type etc_t;
    type var_log_t;
    type unconfined_t;
    type user_t;
    type user_home_t;
    type shell_exec_t;
    type bin_t;
    type fs_t;
    type sysadm_t;
    type proc_t;
    type sysfs_t;
    type user_devpts_t;
    type user_home_dir_t;
    class file { map read getattr execute execute_no_trans create setattr open unlink rename entrypoint relabelto relabelfrom };
    class dir { read write getattr open search add_name remove_name relabelto };
    class chr_file { append read write getattr ioctl getattr};
    class process { noatsecure setexec transition };
    class filesystem associate;
    
    type devpts_t;
    type secure_app_t;
	type alsa_t;
	type colord_t;
	type kernel_t;
	type geoclue_t;
	type syslogd_t;
	type NetworkManager_t;
	type setroubleshootd_t;
	type auditd_t;
	type gssproxy_t;
	type rtkit_daemon_t;
	type systemd_resolved_t;
	type pcscd_t;
	type tuned_t;
	type policykit_t;
	type xdm_t;
	type fsdaemon_t;
	type systemd_machined_t;
	type devicekit_disk_t;
	type system_dbusd_t;
	type udev_t;
	type cupsd_t;
	type avahi_t;
	type secure_app_data_t;
	type systemd_userdbd_t;
	type systemd_logind_t;
	type unconfined_service_t;
	type modemmanager_t;
	type systemd_nsresourced_t;
	type systemd_homed_t;
	type chronyd_t;
	type devicekit_power_t;
	type accountsd_t;
	type firewalld_t;
	type init_t;
	type abrt_dump_oops_t;
}

attribute secure_app_files;

type secure_app_t;
type secure_app_exec_t;
type secure_app_data_t;

typeattribute secure_app_data_t secure_app_files;

gen_require(`
    attribute file_type;
    attribute non_security_file_type;
')

role system_r types secure_app_t;
domain_type(secure_app_t);
domain_entry_file(secure_app_t, secure_app_exec_t);

#============= Transitions ==============

#statement that blocks ./app.sh
type_transition unconfined_t secure_app_exec_t:process secure_app_t;
allow unconfined_t secure_app_t:process transition;

type_transition sysadm_t secure_app_exec_t:process secure_app_t;
allow sysadm_t secure_app_t:process transition;

# experiment
# type_transition unconfined_t secure_app_exec_t:file secure_app_t;

type_transition unconfined_t secure_app_t:process secure_app_t;
type_transition secure_app_t user_home_dir_t:dir secure_app_data_t;
allow user_t secure_app_t:process transition;

#============= secure_app_t ==============

# Basic permissions
allow secure_app_t fs_t:filesystem associate;
allow secure_app_t self:process { fork signal_perms setfscreate noatsecure setexec transition };
allow secure_app_t self:fifo_file rw_fifo_file_perms;
allow secure_app_t self:unix_stream_socket create_stream_socket_perms;

# Directory and file permissions
allow secure_app_t secure_app_data_t:dir { add_name create getattr ioctl link open read remove_name search setattr write };
allow secure_app_t secure_app_data_t:file { append create getattr ioctl link lock open read rename setattr unlink write };

# Home directory operations
allow secure_app_t user_home_dir_t:dir { add_name create remove_name write search };
allow secure_app_t user_home_t:dir { search getattr };

# Shell and binary execution permissions
allow secure_app_t shell_exec_t:file { execute getattr read open execute_no_trans entrypoint };
allow secure_app_t bin_t:file { execute getattr read open execute_no_trans };
allow secure_app_t user_devpts_t:chr_file { append getattr ioctl read write };

# Application execution permissions
allow secure_app_t secure_app_exec_t:file { execute getattr read execute_no_trans entrypoint };

# Allowing shell interpreter to execute the script
allow secure_app_t lib_t:file { execute getattr read open };

allow secure_app_t proc_t:dir read;
allow secure_app_t proc_t:file read;
allow secure_app_t sysfs_t:dir read;
allow secure_app_t sysfs_t:file read;

allow secure_app_t user_home_dir_t:dir getattr;
allow secure_app_t secure_app_exec_t:file { execute getattr read execute_no_trans };
allow secure_app_t lib_t:file { execute getattr read open };
allow secure_app_t self:process { setfscreate };
allow secure_app_t self:capability { dac_override };


# neverallow { domain -secure_app_t } secure_app_data_t:dir *;
# neverallow { domain -secure_app_t } secure_app_data_t:file *;
# neverallow unconfined_t secure_app_data_t:{ dir file } *;
# neverallow domain secure_app_data_t:dir mounton;
# neverallow user_t secure_app_data_t:dir { getattr open read search };
# neverallow user_t secure_app_data_t:file { getattr open read };

# neverallow secure_app_data_t self:filesystem associate;
# neverallow { domain -secure_app_t } secure_app_data_t:filesystem *;


#============= unconfined_t ==============
allow unconfined_t secure_app_data_t:dir { getattr open read relabelfrom relabelto search };
allow unconfined_t secure_app_data_t:file { getattr relabelfrom relabelto };
allow unconfined_t secure_app_t:dir relabelto;
allow unconfined_t secure_app_t:file { execute relabelfrom relabelto };
allow unconfined_t self:capability2 mac_admin;
allow unconfined_t shell_exec_t:process transition;
allow unconfined_t secure_app_exec_t:file { entrypoint getattr open read execute execute_no_trans };


# new
allow secure_app_t NetworkManager_t:dir getattr;
allow secure_app_t abrt_dump_oops_t:dir getattr;
allow secure_app_t accountsd_t:dir getattr;
allow secure_app_t alsa_t:dir getattr;
allow secure_app_t auditd_t:dir getattr;
allow secure_app_t avahi_t:dir getattr;
allow secure_app_t chronyd_t:dir getattr;
allow secure_app_t colord_t:dir getattr;
allow secure_app_t cupsd_t:dir getattr;
allow secure_app_t devicekit_disk_t:dir getattr;
allow secure_app_t devicekit_power_t:dir getattr;
allow secure_app_t devpts_t:dir search;
allow secure_app_t firewalld_t:dir getattr;
allow secure_app_t fsdaemon_t:dir getattr;
allow secure_app_t geoclue_t:dir getattr;
allow secure_app_t gssproxy_t:dir getattr;
allow secure_app_t init_t:dir getattr;
allow secure_app_t kernel_t:dir getattr;
allow secure_app_t modemmanager_t:dir getattr;
allow secure_app_t pcscd_t:dir getattr;
allow secure_app_t policykit_t:dir getattr;
allow secure_app_t proc_t:file open;
allow secure_app_t rtkit_daemon_t:dir getattr;
allow secure_app_t self:process getattr;
allow secure_app_t setroubleshootd_t:dir getattr;
allow secure_app_t sysfs_t:file open;
allow secure_app_t syslogd_t:dir getattr;
allow secure_app_t system_dbusd_t:dir getattr;
allow secure_app_t systemd_homed_t:dir getattr;
allow secure_app_t systemd_logind_t:dir getattr;
allow secure_app_t systemd_machined_t:dir getattr;
allow secure_app_t systemd_nsresourced_t:dir getattr;
allow secure_app_t systemd_resolved_t:dir getattr;
allow secure_app_t systemd_userdbd_t:dir getattr;
allow secure_app_t tuned_t:dir getattr;
allow secure_app_t udev_t:dir getattr;
allow secure_app_t unconfined_service_t:dir getattr;
allow secure_app_t unconfined_t:dir getattr;
allow secure_app_t user_home_t:dir read;
allow secure_app_t xdm_t:dir getattr;