policy_module(app1, 1.0)

require {
    type lib_t;
    type etc_t;
    type var_log_t;
    type unconfined_t;
    type user_t;
    type user_home_t;
    type shell_exec_t;
    type bin_t;
    type user_devpts_t;
    type user_home_dir_t;
    class file map;
    class chr_file { append read write };
    class dir { getattr search };
}

# ?????????? ?????
type secure_app_t;
type secure_app_exec_t;

# ?????????? ????????? ? ????
role system_r types secure_app_t;

# ?????????? ??????
domain_type(secure_app_t)
domain_entry_file(secure_app_t, secure_app_exec_t)

# ?????????? ???? ?????
type secure_app_data_t;
files_type(secure_app_data_t)

# ??????? ???????? ??????
type_transition unconfined_t secure_app_exec_t:process secure_app_t;
type_transition user_t secure_app_exec_t:process secure_app_t;

# ??????? ??? ??????
allow secure_app_t self:process { fork signal_perms setfscreate };
allow secure_app_t self:fifo_file rw_fifo_file_perms;
allow secure_app_t self:unix_stream_socket create_stream_socket_perms;

# ??????? ??? ?????????
allow secure_app_t user_devpts_t:chr_file { read write append ioctl getattr };

# ??????? ??? ?????????
allow secure_app_t shell_exec_t:file { execute read open getattr execute_no_trans map };
allow secure_app_t bin_t:file { execute read open getattr execute_no_trans map };
allow secure_app_t secure_app_exec_t:file { execute read open getattr execute_no_trans map };

# ??????? ??? ????????? ?????
allow secure_app_t secure_app_data_t:dir { add_name create getattr ioctl link open read remove_name reparent rmdir search setattr write };
allow secure_app_t secure_app_data_t:file { append create getattr ioctl link lock open read rename setattr unlink write };

# ???????? ???????
allow secure_app_t lib_t:file { execute read open getattr map };
allow secure_app_t etc_t:file { read open getattr };

# ?????????
allow secure_app_t var_log_t:dir { add_name write };
allow secure_app_t var_log_t:file { create open append };

# ??????? ????????
neverallow { domain -secure_app_t } secure_app_data_t:dir *;
neverallow { domain -secure_app_t } secure_app_data_t:file *;

# ??????? ??? ????????? ??????????
allow secure_app_t user_home_t:dir { search getattr };
allow secure_app_t user_home_dir_t:dir { search getattr };
