policy_module(secure_app, 1.0)

require {
    type secure_app_data_t;
}

# Додаємо необхідні атрибути
files_type(secure_app_data_t)
# Дозволяємо використання для файлів та директорій
files_tmp_file(secure_app_data_t)
